.top-container {
  background-color: #eaf6f6;
  position: relative;
  padding: 50px;
  padding-bottom: 0;
  margin-bottom: 60px;
}

body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  margin: 50px auto 0 auto;
  font-size: 4.625rem;
  font-family: 'Sacramento', cursive;
  color: #66BFBF;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  color: #66BFBF;
  font-size: 2rem;
  font-weight: normal;
}

h3 {
  color: #11999E;
  font-size: 1.25rem;
}

a {
  color: #11999E;
  margin: 10px 25px;
  text-decoration: none;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
}

a:hover {
  color: #eaf6f6;
}

p {
  line-height: 2;
}

hr {
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

.programmer {
  font-size: 1.5rem;
  margin-bottom: 0;
}
.top-cloud {
  position: absolute;
  right: 300px;
  top: 20px;
}
.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}
.mountain {
  height: 20rem;
  position: relative;
  top: 5px;
}
.skill-row {
  width: 50%;
  margin: 50px auto 100px auto;
  text-align: left;
}
.code-img {
  width: 28%;
  float: left;
  margin-right: 30px;
}
.coffee-img {
  width: 28%;
  float: right;
  margin-left: 30px;
}
.bottom-text {
  width: 40%;
  margin: 40px auto 50px auto;
}
.btn {
   background: #11CDD4;
   background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
   background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
   background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
   background-image: -o-linear-gradient(top, #11CDD4, #11999E);
   background-image: -webkit-gradient(to bottom, #11CDD4, #11999E);
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   height: 40px;
   color: #FFFFFF;
   font-family: 'Merriweather', serif;
   line-height: 40px;
   width: 150px;
   font-size: 15px;
   font-weight: 100;
   padding: 2px;
   border-color-hover: ;
   border-style-hover: solid;
   border-width-hover: 0;
   text-shadow: 1px 1px 20px #000000;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.btn:hover {
   background: #30E3CB;
   background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -o-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -webkit-gradient(to bottom, #30E3CB, #2BC4AD);
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   text-decoration: none;
}
.bottom-container {
  margin-top: 80px;
  background-color: #66BFBF;
  padding: 30px;
  padding-bottom: 10px;
}
.copyright {
  color: #eaf6f6;
  font-size: 0.85rem;
  padding: 20px 0 5px 0;
}
